/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 td {
    width: 200px;
   background: #87CEEB;
  }

  th {
  	text-align: center;

  }

body {
	text-align: center;
	/*background: url("http://i.imgur.com/1el6iv1.png");*/
	background-color: #bdc3c7;
}

.btn {
	text-align: center;
	font-weight: bold;
	color: #34495e;
	

}

h3 {  
    
   
  	text-align: center;
}  
  
h5 {
	font-family: 'Permanent Marker', 'cursive';
	font-size: 100px;
	margin-top: 1em;
	color: black;
	background: -webkit-linear-gradient(black, #34495e);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;



