// Place all the styles related to the rits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
	margin-left: 30px;
	padding: 5%;
	border-radius: 5%;
	position: relative;
}

