<h2 id="red">ERROR - that code is already taken<h2>
<h3>Please use a different code</h3><br>

<%= button_to "Try Again", {controller: :urls, action: :new}, :method => :get, :class => "buttons" %><br />