<h1>Create New Entry</h1>
<%= form_for @url do |f| %>
  
  <%= label_tag(:link, "Link:") %>
  <%= f.text_field :link,  :class => "form-control" %></br>



  <!-- Submits the @todo object with the inputs to the create method in the TodosController. -->
  <%= f.submit "Create", :class => "btn btn-danger" %>
<% end %>
