<h1>That was easy. Here's your Ritly:</h1>

<!-- randomly generated string, edit button, show all button, link to preview the page, and a link to the outside world (aka their requested site) -->

<%= link_to @url['random_string'], go_path(@url['random_string']) %>

<h3>Original URL: </h3>
<%= @url['link'] %>
<br>
<br>

<object type="text/html" data="http://www.hampsterdance.com/" style="width: 450px; height: 500px">
<p>backup content</p>
</object>
<br>
<%= link_to "Make Another", root_path %>
<br>
<%= link_to "View All", urls_path %>

