<body class="show">

<h1>Your new link is: </h1>
 

<h2><%= link_to @url.random, go_path(@url.random)%></h2>

<br />

<%= button_to "Edit link", edit_url_path, method: "get", :class => "btn btn-primary"%>

<br />

<%= button_to "View all Ritlys", results_path, method: "get", :class => "btn btn-success" %>



</body>