<h1>Edit Link</h1>
<!--
def edit
		@url = Url.find(params[:id])
def update
		@url = Url.find(params[:id])
		@url.update url_params
		redirect_to url_path(@url)-->

<%= form_for @url do |f| %>
	<%= label_tag(:link, "Link") %>
	<%= f.text_field :link, :class => "form-control" %>
	<input class="btn btn-default" type="submit" value="Update">
<% end %></br>
<button type="button" class="btn btn-danger btn-sm"><%= link_to "Delete", @url, method: :delete, data: { confirm: "You sure?" } %></button></br></br>
<!--


