<h2>List of all links(index)</h2>

<% @urls.each do |url| %>
	<li><%= link_to url.link, url_path(url.id) %>
	ritly.<%= url.random_string %>
	</li>
<% end %></br></br>

<%= link_to "Back To Home",root_path%>