<div class="container">
<h1>Edit Your URL</h1>
<hr></hr>
<%= form_for @rit do |f| %>

  <h3><%= label_tag(:link, "Link:") %>
  <%= f.text_field :link %></h3>
	  

  <%= f.submit "Edit",:class => "btn btn-warning" %>
  <%#= link_to "Delete", @rit, method: :delete, data: { confirm: "You sure?" }, :class => "btn btn-danger"%>

<% end %>
<div>