
<h1>Ritly</h1>
<div class="container-fluid">
<%= form_for @rit do |f| %>
	<h3>
	<%= f.text_field :link, placeholder: "\s\s\s\senter or paste URL"%></h3></br>
	<%= f.submit "generate random code", :class => "btn btn-default" %>

<% end %>
<body class="background">

</body>
<div>

<%#= f.text_field :link, :value => "http://www." %>
<%#= f.text_field :link, :value => "http://www." %>
