/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

h1 {
	text-align: center;
	font-size: 110px;
	color: black;
	text-decoration: none;

}

/* .container{
 	width:1200px;
 	margin:20px;
 	padding:40px;
 }*/

.page-header{
	padding:5px;
	/*background:white;*/
	color:black;
}

body {
	background: url("http://i.imgur.com/UFbpzpa.jpg");
	display: block;
	background-size:cover;
}

p {
	text-align: center;
	font-family: 'PT Sans Narrow', 'sans-serif';
}

.h2 {
	display:inline;
}

.col-md-4 {
	background: white;
	border-radius: 60px;
	padding: 20px;
	border:black solid 1px;
}

.col-md-6 {
	margin: auto;
	background: white;	
	border:black solid 1px;
}

.col-md-3 {
	background: white;
	padding:20px;
	border-radius: 30px;
	height:400px;
	border:black solid 1px;
}

.col-md-9 {
	border-radius:6px;
	padding: 15px;
	margin-bottom: 100px;
	height:370px;	
}

img {
	border-radius:30px; 
	margin-top: -55px;
	border:black solid 1px;
}

.header-link {
	text-decoration: none;
	color:black;
	font-family: 'Londrina Solid', 'cursive';
}

.btn {
	color:black;
	border:black solid 1px;
}

.form-control {
	border:black solid 1px;
}

h3 {
	text-align: center;
	font-size: 15px;
	font-family: 'PT Sans Narrow', 'sans-serif';
}

.panel-heading {
	text-align: center;
	font-family: 'PT Sans Narrow', 'sans-serif';
	font-size: 30px;
}

.footer {
	color:black;
	text-decoration: none;
	text-align: center;
}