<!DOCTYPE html>
<html>
<head>
  <title>RitlyMiniProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>	
<h1> <a class = "header-link" href = '/'> Ritly </a></h1>
</head>
<body>
	<div class = "container">

	<%= yield %>

	</div>

</body>
</html>
