
body {
	text-align: center;
	font-family: 'Stint Ultra Expanded';
	color: #383838;
}

h1 {
	font-family: 'Special Elite';
}

.navbar {
	font-family: 'Special Elite';
	font-weight: bold;
}

.table {
	text-align: left;
}

.glyphicon {
	padding-right: 10px;
	color: #383838;
}

a {
	color: #383838;
}

a:hover {
	text-decoration: none;
}

iframe {
	width: 90%;
	height: 500px;
	frameborder: 0;
}