// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
     text-align: center;
     background-color: #22A7F0;
}
a {
	color: black;
	font-size: 20px;
}

a:hover{
	font-size: 23px;
}

#paste {
	list-style-type: none;
	font-weight: bold;
	color: #2C3E50;
}

div {
	margin: auto;
}